@import "../../App.scss";
// .popup-container {
//   background-color: rgba(0, 0, 0, 0.3);
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   /* display: flex; */
//   display: none;
//   align-items: center;
//   justify-content: center;
//   .popup {
//     background: #2980b9;
//     border-radius: 5px;
//     box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     text-align: center;
//     button {
//       cursor: pointer;
//       background-color: #fff;
//       color: #2980b9;
//       border: 0;
//       margin-top: 20px;
//       padding: 12px 20px;
//       font-size: 16px;
//       &::active {
//         transform: scale(0.98);
//       }
//       &::focus {
//         outline: 0;
//       }
//     }
//   }
// }
.popup-container {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transparent-blue;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  text-align: center;
  .popup {
    @include font;
    position: relative;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 1);
  }
  button{
    text-transform: uppercase;
  border: dashed 2px $gold;
  border-radius: 25px;
  background-color: transparent;
  color: $gold;
  padding: 15px 40px;
  @include font;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  }
}